@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --eco-green: #22c55e;
  --eco-yellow: #eab308;
  --eco-orange: #f97316;
  --eco-red: #ef4444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-eco-green: var(--eco-green);
  --color-eco-yellow: var(--eco-yellow);
  --color-eco-orange: var(--eco-orange);
  --color-eco-red: var(--eco-red);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
